<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/normalize.css" rel="stylesheet" />
    <link href="/css/themes.css" rel="stylesheet" />
    <link href="/css/styles1.css" rel="stylesheet" />
    <link href="/css/queries.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/aa20111c27.js" crossorigin="anonymous"></script>

    <title>Pirupí Games</title>
</head>

<body>
    <header>
        <section class="logo">
            <a href="/">
                <img src="/images/Logo_solo_pirupi.jpg" alt="Logo Pirupi" width=100% class="img-logo">
            </a>
            <h2 class="slogan">Todos tus juegos retro favoritos en una consola.</h2>
        </section>
        <section class="menu">
            <nav class="user-menu">
                <ul>
                    <li class="dropdown"><a href="/ofertas">Consolas</a>
                        <div class="dropdown-content">
                            <a href="#">Consola 1</a>
                            <a href="#">Consola 2</a>
                            <a href="#">Consola 3</a>
                        </div>
                    </li>
                    <li class="dropdown"><a href="/games_details">Catalogo de Juegos</a>
                        <div class="dropdown-content">
                            <a href="#">Nintendo SNS</a>
                            <a href="#">Sega</a>
                            <a href="#">PlayStation 1</a>
                        </div>
                    </li>
                    <li><a href="/venta>">Gameplays</a></li>
                    <li class="dropdown"><a href="/#">Contacto</a>
                        <div class="dropdown-content">
                            <a href="#">Instagram</a>
                            <a href="#">Facebook</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="burger-holder">
                <i id="burger_menu" class="fas fa-bars burger_menu"></i>
            </div>
            <nav class="user-ux">
                <a href="#"><i class="fas fa-user-astronaut"></i></a>
                <a href="#"><i class="fab fa-shopify"></i></a>
            </nav>
        </section>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>