/* COLORES PIRUPI GAMES */

#rosapirupi {
  color: #cd78c2;
}

#verdepirupi {
  color: #a1cbc5;
}

#celestepirupi {
  color: #93b6e2;
}

#rojopirupi {
  color: #a31915;
}

#negropirupi {
  color: #000000;
}

#arenapirupi {
  color: #cdb48c;
}

#grispirupi {
  color: #706f6f;
}

/* TIPOGRAFIA PIRUPI GAMES */

body {
  font-family: "Poppins", sans-serif;
}
