<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head.ejs") %>
        <link href="/css/styles_login.css" rel="stylesheet" />

<body>
    <%- include("../partials/header.ejs") %>

        <main>
            <section class="user-login">
                <form action="/user/login" method="POST">

                    <div class="login">
                        <div>
                            <label for="email">Ingresa tu mail</label>
                            <input type="text" id="email" name="email" placeholder="Ingresa tu nombre de usuario">
                            <%if(locals.errors && errors.email){ %>
                                <div>
                                    <%= errors.email.msg%>
                                </div>
                                <% } %>
                        </div>

                        <div>
                            <label for="user-pass">Contraseña</label>
                            <input type="password" id="user-pass" name="user-pass" placeholder="Ingresa tu contraseña">
                        </div>

                        <div>
                            <label for="remember">Recordarme </label>Recordarme
                            <input type="checkbox" id="remember" name="remember">
                        </div>

                        <div class="login-botones">
                            <button type="submit" class="boton">Ingresar</button>
                        </div>

                    </div>
                </form>
                <div>
                    <h5>¿No tenes usuario?</h5>
                    <a href="/user/register"><button class="boton">Registrarse</button></a>
                </div>
            </section>

        </main>

        <%- include("../partials/footer.ejs") %>

</body>

</html>