<!DOCTYPE html>
<html lang="en">

<head>

    <%- include("../partials/head.ejs") %>
        <link href="/css/styles_register.css" rel="stylesheet" />
</head>

<body>
    <%- include("../partials/header.ejs") %>

        <main>
            <form action="./" method="POST" class="registration">
                <div class="container">
                    <h2 class="headlines">Registrate</h2>
                    <div class="wrapper">
                        <section class="user-reg">
                            <div>
                                <label for="mail">Correo Electronico</label>
                                <input type="email" id="mail" name="mail" placeholder="Ingresa tu correo electronico"
                                    required>
                            </div>
                            <div>
                                <label for="user_name">Nombre de Usuario</label>
                                <input type="text" id="user_name" name="user_name"
                                    placeholder="Ingresa tu nombre de usuario" required>
                            </div>
                            <div>
                                <label for="address">Domicilio</label>
                                <input type="text" id="address" name="address"
                                    placeholder="Ingresa tu nombre de usuario" required>
                            </div>
                            <div>
                                <label for="avatar">Elegi tu foto de perfil</label>
                                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" required>
                            </div>

                            <div>
                                <label for="password">Contrase単a</label>
                                <input type="password" name="password" id="password" placeholder="Ingresa tu contrase単a"
                                    required>
                            </div>
                            <div>
                                <label for="password">Repetir Contrase単a</label>
                                <input type="password" name="password" id="password"
                                    placeholder="Repeti la contrase単a ingresada" required>
                            </div>
                        </section>
                        <section class="reg-botones">
                            <button type="sumbit" class="boton">Enviar informacion</button>
                            <button type="reset" class="boton">Borrar informacion</button>
                        </section>
                        </section>
                    </div>
                </div>
            </form>
        </main>

        <%- include("../partials/footer.ejs") %>

</body>

</html>