<!DOCTYPE html>
<html lang="en">

<head>
    <%-include ("../partials/head", {title : "Bienvenido usuario" + user.name}) %>
</head>

<body>
    <% if (user) { %>
        <p>Hola usuario <%= user.name %>
        </p>
        <p>tu email es <%= user.emails %>
        </p>
        <% } %>

</body>

</html>